In [ ]:
import pandas as pd
coffee = pd.read_csv("C:\\Users\\IBRAHIM\\Documents\\ml-vet-journey\\python\\pand\\coffee.csv")
# Adding and removing columns
# Adding columns
coffee['price'] = 4.99
coffee.head()
coffee.drop(0)
coffee.drop(7)
coffee.drop(columns = ['price'])
coffee
# Shifting forward
coffee['yesterday_revenue'] = coffee['Units Sold'].shift(1)
coffee['yesterday_revenue'] = coffee['Units Sold'].shift(2)
# shifting backwards
coffee['yesterday_revenue'] = coffee['Units Sold'].shift(-1)
coffee['yesterday_revenue'] = coffee['Units Sold'].shift(-2)
coffee['pct_change'] = coffee['Units Sold'] / coffee['yesterday_revenue'] * 100
coffee.cumsum()
coffee['cummulative_revenue'] = coffee['yesterday_revenue'].cumsum()
coffee

,Day,Coffee Type,Units Sold,price,yesterday_revenue,pct_change,cummulative_revenue
0,Monday,Espresso,25,4.99,30.0,83.333333,30.0
1,Monday,Latte,15,4.99,20.0,75.000000,50.0
2,Tuesday,Espresso,30,4.99,35.0,85.714286,85.0
3,Tuesday,Latte,20,4.99,25.0,80.000000,110.0
4,Wednesday,Espresso,35,4.99,40.0,87.500000,150.0
5,Wednesday,Latte,25,4.99,30.0,83.333333,180.0
6,Thursday,Espresso,40,4.99,45.0,88.888889,225.0
7,Thursday,Latte,30,4.99,35.0,85.714286,260.0
8,Friday,Espresso,45,4.99,45.0,100.000000,305.0
9,Friday,Latte,35,4.99,35.0,100.000000,340.0
10,Saturday,Espresso,45,4.99,45.0,100.000000,385.0
11,Saturday,Latte,35,4.99,35.0,100.000000,420.0
12,Sunday,Espresso,45,4.99,NaN,NaN,NaN
13,Sunday,Latte,35,4.99,NaN,NaN,NaN