In [10]:
import pandas as pd
coffee = pd.read_csv("C:\\Users\\IBRAHIM\\Documents\\ml-vet-journey\\python\\pand\\coffee.csv")
# Adding and removing columns
coffee
coffee.drop(columns = ["Day"])
coffee["Price"] = 23.9 
coffee["revenue"] = coffee["Units Sold"] * coffee["Price"]
coffee.head()
# renaming
# coffee.rename(columns=('Price':'Ticket'))

         Day Coffee Type  Units Sold  Price  revenue
0     Monday    Espresso          25   23.9    597.5
1     Monday       Latte          15   23.9    358.5
2    Tuesday    Espresso          30   23.9    717.0
3    Tuesday       Latte          20   23.9    478.0
4  Wednesday    Espresso          35   23.9    836.5